<configuration>
  <!--
  Some versions of Mono map to .so instead of .dylib on OSX.
  Include this file in same folder as ManagedBass.dll to resolve the issue.

  Also, you may use more DllMaps to map to custom paths and library names.
  -->
  <dllmap os="osx" dll="bass" target="libbass.dylib"/>
  <dllmap os="osx" dll="bassmidi" target="libbassmidi.dylib"/>
  <dllmap os="osx" dll="bassmix" target="libbassmix.dylib"/>
  <dllmap os="osx" dll="bassenc" target="libbassenc.dylib"/>
  <dllmap os="osx" dll="bassfx" target="libbassfx.dylib"/>
</configuration>
