<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
DocSummary = "Wraps BassApe";
DocRemarks = "Supports .ape, .ap1";
DllName = "bass_ape";
ID = "APE";
#>

<#@ include file="PluginInclude.ttinclude" #>