<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
Condition = "WINDOWS";
DocSummary = "Wraps BassAix";
DllName = "bass_aix";
ID = "AIX";
#>

<#@ include file="PluginInclude.ttinclude" #>