<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
DocSummary = "Wraps BassFlac";
DocRemarks = "Supports .flac";
ID = "FLAC";
#>

<#@ include file="PluginInclude.ttinclude" #>