<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#
var Condition = "";
var Namespace = "";
var DocSummary = "Wraps BassMpc";
var DocRemarks = "Supports .mpc, .mpp, .mp+";
var LibraryName = "BassMpc";
var DllName = "bass_mpc";

var Embed = "";

var ID = "MPC_";
var IsPartial = false;
#>

<#@ include file="PluginInclude.ttinclude" #>