<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
Namespace = "Midi";
ID = "MIDI";
IsPartial = true;
DefineFrequency = true;
#>

<#@ include file="PluginInclude.ttinclude" #>