<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
DocSummary = "Wraps BassHls";
DocRemarks = "HTTP Live Streaming Add-On";
ID = "HLS";
#>

<#@ include file="PluginInclude.ttinclude" #>