<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#
var Condition = "";
var Namespace = "";
var DocSummary = "Wraps BassHls";
var DocRemarks = "HTTP Live Streaming Add-On";
var LibraryName = "BassHls";
var DllName = "basshls";

var Embed = "";

var ID = "HLS_";
var IsPartial = false;
#>

<#@ include file="PluginInclude.ttinclude" #>