<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#
var Condition = "";
var Namespace = "";
var DocSummary = "Wraps BassFlac";
var DocRemarks = "Supports .flac";
var LibraryName = "BassFlac";
var DllName = "bassflac";

var Embed = "";

var ID = "FLAC_";
var IsPartial = false;
#>

<#@ include file="PluginInclude.ttinclude" #>