<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#
var Condition = "";
var Namespace = "";
var DocSummary = "Wraps BassSpx";
var DocRemarks = "Supports .spx";
var LibraryName = "BassSpx";
var DllName = "bass_spx";

var Embed = "";

var ID = "SPX_";
var IsPartial = false;
#>

<#@ include file="PluginInclude.ttinclude" #>