<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
Condition = "WINDOWS";
DocSummary = "Wraps BassOfr";
DocRemarks = "Supports .ofr, .ofs";
DllName = "bass_ofr";
ID = "OFR";
#>

<#@ include file="PluginInclude.ttinclude" #>