<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#
var Condition = "";
var Namespace = "";
var DocSummary = "Wraps BassOpus";
var DocRemarks = "Supports .opus";
var LibraryName = "BassOpus";
var DllName = "bassopus";

var Embed = "";

var ID = "OPUS_";
var IsPartial = false;
#>

<#@ include file="PluginInclude.ttinclude" #>