<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
DocSummary = "Wraps BassOpus";
DocRemarks = "Supports .opus";

ID = "OPUS";
#>

<#@ include file="PluginInclude.ttinclude" #>