<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#
var Condition = "WINDOWS";
var Namespace = "";
var DocSummary = "Wraps BassAdx";
var DocRemarks = "Supports .adx";
var LibraryName = "BassAdx";
var DllName = "bass_adx";

var Embed = "";

var ID = "ADX_";
var IsPartial = false;
#>

<#@ include file="PluginInclude.ttinclude" #>