<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
Condition = "WINDOWS || LINUX || __ANDROID__";
DocSummary = "Wraps BassAlac";
DocRemarks = "Supports .m4a, .aac, .mp4, .mov";
ID = "ALAC";
#>

<#@ include file="PluginInclude.ttinclude" #>