<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
DocSummary = "Wraps BassTta";
DocRemarks = "Supports .tta";
DllName = "bass_tta";
ID = "TTA";
#>

<#@ include file="PluginInclude.ttinclude" #>