<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>

<#@ include file="Defaults.ttinclude" #>

<#
DocSummary = "Wraps BassSpx";
DocRemarks = "Supports .spx";
DllName = "bass_spx";
ID = "SPX";
#>

<#@ include file="PluginInclude.ttinclude" #>