<configuration>
  <dllmap dll="bass_ape" target="__Internal"/>
  <dllmap dll="bassdsd" target="__Internal"/>
  <dllmap dll="bassflac" target="__Internal"/>
  <dllmap dll="bass_fx" target="__Internal"/>
  <dllmap dll="basshls" target="__Internal"/>
  <dllmap dll="bassmix" target="__Internal"/>
  <dllmap dll="bass_mpc" target="__Internal"/>
  <dllmap dll="bassopus" target="__Internal"/>
</configuration>